[Desktop Entry]
Type=Application
Version=1.0
Name=Install Fetch OS
GenericName=System Installer
Comment=Install Fetch OS permanently to your disk
Exec=konsole -e sudo archinstall
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
